PORT="LISTEN_PORT"
# Api de https://neon.com/

#db de prueba con docker
DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB?schema=public"
POSTGRES_USER="USER_DB"
POSTGRES_PASSWORD="PASSWORD_DB"
POSTGRES_DB="DB_DB"
